@import "tailwindcss";

:root {
  --background: #D3D1CE;
  --foreground: #090F15;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #090F15;
    --foreground: #D3D1CE;
  }
}

/* globals.css */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif; /* Apply the Lora font to all headings */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.homepage-bg {
  background-color: #090F15; /* Brown background for the landing page */
}

.wave-cursor {
  display: inline-block;
  animation: wave-animation 10s infinite;
  transform-origin: 70% 70%;
  margin-left: 0.5rem;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

@layer utilities {
  @keyframes pulse-ring {
    0% {
      transform: scale(0.95);
      opacity: 0.7;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.3;
    }
    100% {
      transform: scale(0.95);
      opacity: 0.7;
    }
  }

  .animate-pulse-slow {
    /* animation: pulse-ring 4s cubic-bezier(0.4, 0, 0.6, 1) infinite; */
      animation: pulse-ring 6s ease-in-out infinite;

  }
}

.hero-bg-layer {
  position: absolute;
  inset: -5%; /* overfill to prevent edges */
  background-image: url('/hero-bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  animation: bg-drift 10s ease-in-out infinite;
  will-change: background-position;
}

@keyframes bg-drift {
  0% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 50% 45%;
  }
  100% {
    background-position: 50% 50%;
  }
}
