name: Deploy Next.js to GitHub Pages

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: ./portfolio-app/package.json

      - name: Install Dependencies
        run: npm install
        working-directory: ./portfolio-app

      - name: Build Site
        run: npm run build
        working-directory: ./portfolio-app

      - name: Check output folder
        run: |
          echo "Listing ./out contents:"
          ls -la ./out
        working-directory: ./portfolio-app

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: ./portfolio-app/out
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Deploy portfolio site"
